{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/checkbox.css' %}">
</head>
<body>
<section>
    <div class="create_container">
        <form action="{% url 'add_todo'%}" method="POST">
            {% csrf_token %}
            <input class='create_input' type="text" placeholder="Напишите сюда задачу" name="todo_text">
            <button class='create_button'>Добавить</button>
        </form>
    </div>
    <div class="todo_container">
        {% for todo in todo_list %}
            <div class="todo_item 
                {% if todo.is_favourite %}
                    marked
                {% elif todo.is_done %}
                    done
                {% endif %}    
                ">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"
                            {% if todo.is_done %}
                                checked
                            {% endif %}
                        />
                        <span class="checkmark"></span>
                    </label>
                    <h4><a href="{% url 'close-todo' todo.id %}">{{todo.text}}</a></h4>
                </div>
                <div class="todo_item_footer">
                    <p>{{todo.created_at}} <span>17:22</span></p>
                    <div class="action_buttons">
                        {% if todo.is_favourite %}
                            <a href="{% url 'unmark-todo' todo.id%}"><img src="{% static 'icons/star-2.png' %}" alt=""></a>
                        {% else %}
                            <a href="{% url 'mark-todo' todo.id%}"><img src="{% static 'icons/star.png' %}" alt=""></a> 
                        {% endif %}
                        <a href="{% url 'delete-todo' todo.id %}"><img src="{% static 'icons/trash.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

    <script src="./script.js"></script>
</body>
</html>