{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/checkbox.css' %}">
</head>
<body>
<section>
    <div class="create_container">
        <form action="{% url 'add_todo'%}" method="POST">
            {% csrf_token %}
            <input class='create_input' type="text" placeholder="Напишите сюда задачу" name="todo_text">
            <button class='create_button'>Добавить</button>
        </form>
    </div>
    <div class="todo_container">
        {% for todo in todo_list %}
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>{{todo.text}}</h4>
                </div>
                <div class="todo_item_footer">
                    <p>{{todo.created_at}} <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="{% static 'icons/star.png' %}" alt="">
                        <img src="{% static 'icons/trash.png' %}" alt="">
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- <div class="todo_item done">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
                <p>17.11.2020 <span>17:22</span></p>
                <div class="action_buttons">
                    <img src="../static/icons/star.png" alt="">
                    <img src="../static/icons/trash.png" alt="">
                </div>
            </div>
        </div>
        <div class="todo_item marked">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
                <p>17.11.2020 <span>17:22</span></p>
                <div class="action_buttons">
                    <img src="../static/icons/star-2.png" alt="">
                    <img src="../static/icons/trash.png" alt="">
                </div>
            </div>
        </div>
        <div class="todo_item done">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
                <p>17.11.2020 <span>17:22</span></p>
                <div class="action_buttons">
                    <img src="../static/icons/star.png" alt="">
                    <img src="../static/icons/trash.png" alt="">
                </div>
            </div>
        </div>
        <div class="todo_item">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
                <p>17.11.2020 <span>17:22</span></p>
                <div class="action_buttons">
                    <img src="../static/icons/star.png" alt="">
                    <img src="../static/icons/trash.png" alt="">
                </div>
            </div>
        </div>
        <div class="todo_item marked">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
                <p>17.11.2020 <span>17:22</span></p>
                <div class="action_buttons">
                    <img src="../static/icons/star-2.png" alt="">
                    <img src="../static/icons/trash.png" alt="">
                </div>
            </div>
        </div> -->
    </div>
</section>

    <script src="./script.js"></script>
</body>
</html>